.post-container {
  background-color: #3b2f2f;
  display: flex;
  border: 1px solid #707070;
  min-height: 40vh;
}

.post-content-wrapper {
  display: flex;
  margin: 10px;
  border-radius: 10px;
//   background-color: chocolate;
  width: 90vw;
}

.post-content-image-wrapper {
    background-color: rgba(138, 136, 134, 0.336);
    display: flex;
    justify-content: center;
    min-width: 50px;

    &__page-profile {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
}

.post-content-main-wrapper {
    background-color: rgba(208, 245, 247, 0.226);
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}
