.sidebar-wrapper {
  padding: 6% 0 0 6%;
  gap: 15px;
  display: flex;
  flex-direction: column;

  &__button-logo {
    background-color: black;
    border: none;
    display: flex;
    color: white;
    max-width: 67%;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    cursor: pointer;

    border-radius: 16px;
    .icon-logo {
      color: white;
      height: 40px;
      width: 40px;
    }
  }

  &__button-logo:hover {
    background-color: rgb(46, 46, 46);
  }

  .sidebar-tab-wrapper {
    //   border: 2px solid #9c9c9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 3vh;

    &__button {
      color: white;
      background-color: black;
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 18px;
      padding: 0 8% 0 0;
      max-width: 67%;
      border: none;
      transition: background-color 0.3s;
      border-radius: 16px;
      cursor: pointer;

      &__title {
        display: block;
        @media (max-width: 1250px) {
          display: none;
        }
      }
    }

    &__button:hover {
      background-color: rgb(46, 46, 46);
    }

    .dummy-wrapper {
      border: 2px solid #e24e4e;
      background-color: #9c9c9c;
      height: 40px;
      width: 150px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
    }

    ul {
      display: flex;
      flex-direction: column;
      border: 2px solid #792323;
      list-style-type: none;

      li {
        border: 2px solid #71a536;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        width: 140px;
        //   gap: 15px;
        .sidebar-tab-content {
          &__icon {
            height: 33px;
            width: 33px;
          }
        }
      }
    }
  }

  @media (max-width: 1250px) {
    padding: 30% 0 0 6%;
  }
}
